
<h1>List of enrollments</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Teacher</th> 
  </tr>
  <% @enrollments.each do|enrollment| %>
    <tr>
      <td>
        <p><%= enrollment.course.title %> | votes: <%= enrollment.course.votes_for.size %></p>
        <p>
          <%= link_to 'Enroll',  new_enrollment_path(course_id: enrollment.course.id) %>
          <%= link_to 'Vote',  new_vote_course_path(enrollment.course.id) %>
        </p>
      </td>
      <td>
        <% enrollment.course.teachers.each do|teacher| %>
          <p><%= teacher.email %> | votes: <%= teacher.votes_for.size %></p>
          <p><%= link_to 'Vote',  new_vote_teacher_path(teacher.id) %></p>
        <% end %>
      </td> 
    </tr>
  <% end %>
</table>

<%= link_to 'Create course',  new_course_path %>