<%= form_with(url: votes_url(item), method: :post, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2>The <%= item.class.name %> cannot be saved:</h2>
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, name: :email, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>